* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  margin: 5px;
  width: 40px;
  border-radius: 5px;
  background-color: #f55a5a;
}
.topic {
  background-color: #f55a5a;
  color: antiquewhite;
}
.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
.card {
  margin: 10px;
  padding: 10px;
  max-width: 700px;
  display: flex;
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgb(114, 93, 93);
}
.logo {
  width: 10px;
  margin: 0 5px;
}
.container-Image {
  width: 300px;
  height: 25vh;
  border: 1px solid #fb4242;
  border-radius: 10px;
}
.overflow {
  overflow-x: scroll;
}
.data-container {
  margin: 10px;
  gap: 1px;
}
